<p id="notice"><%= notice %></p>

<% @projects.each do |project| %>
    <div>
      <h1><%= project.name %></h1>
        <%= link_to 'Edit', edit_project_path(project) %>
        <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
      <br>
      <% project.tasks.each do |task| %>
          <div>
            <%= task.name %>
          </div>
      <% end %>
      <%= form_for([project, project.tasks.build]) do |f| %>
          <p>
            <%= f.text_area :name %>
          </p>

          <p>
            <%= f.submit %>
          </p>
      <% end %>
    </div>
    <br>
<% end %>

<br>

<%= link_to 'New Project', new_project_path %>
