<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <div id="banner">
    <div class="navigation_buttons">
      <%= link_to 'Home', articles_path %>
    </div>

    <div class="title">
      Hello Blog!
    </div>
  </div>

  <body>
    <%= yield %>
  </body>
</html>
